{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    <h3 id="following-posts"> Posts by users you are following </h3>

    {% for post in page_posts %}
        {% csrf_token %}
        <div id={{ post.id }} class="card">
            <p class="card-header"> <strong><a href="{% url 'profile' post.user %}"> {{ post.user }} </a></strong> on {{ post.timestamp }} </p>
            <div class="card-body">
                <p class="card-text"> {{ post.content }} </p>

                {% with post.liked_posts.all as likes %}
                    <p class="likes card-text">Likes: {{ likes.count }}</p>
                {% endwith %}

                {% if post.is_liked %}
                    <button type="button" class="like-post-btn btn btn-primary">Unlike</button>
                {% else %}
                    <button type="button" class="like-post-btn btn btn-primary">Like</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if show_pagination %}
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">

                {% if page_posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}

                {% for num in page_posts.paginator.page_range %}
                    {% if num == page_posts.number %}
                        <li class="page-item active">
                            <span class="page-link">
                                {{ num }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <a class="page-link" href="?page={{ num }}"> {{ num }} </a>
                    {% endif %}
                {% endfor %}

                {% if page_posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}
