{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
    <a href="{% url 'new_post' %}"> New Post </a>
{% endif %}

    {% if posted %}
        <div class="alert alert-success" role="alert"> {{ posted }} </div>
    {% endif %}

    {% for post in page_posts %}
        <div class="card">
            <p class="card-header"> <strong> {{ post.user }} </strong> on {{ post.timestamp }} </p>
            <div class="card-body">
                <p class="card-text"> {{ post.content }} </p>
                <p class="card-text"> Likes: {{ post.likes }} </p>
                <a href="#" class="btn btn-primary">Like</a>
            </div>
        </div>
    {% empty %}
        <p> No posts yet.</p>
    {% endfor %}

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">

            {% if page_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for num in page_posts.paginator.page_range %}
                {% if num == page_posts.number %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ num }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <a class="page-link" href="?page={{ num }}"> {{ num }} </a>
                {% endif %}
            {% endfor %}

            {% if page_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
