{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    {% if user.is_authenticated %}

        {% if empty_post %}
        <div class="alert alert-danger alert-dismissible fade show">
            {{ empty_post }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            <textarea name="post-content" rows="5" placeholder="What's on your mind, {{ user }}?"></textarea>
            <div class="post-button">
                <input type="submit" name="post-button" value="Post" class="btn btn-primary">
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}
