{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> {{ username }} </h2>
            <p class="card-text followers">Followers: {{ followers }}</p>
            <p class="card-text">Following: {{ following }} </p>
            {% if show_follow_button %}
                {% if to_follow %}
                    <button type="button" class="follow-button btn btn-primary">Follow</button>
                {% else %}
                    <button type="button" class="follow-button btn btn-primary">Unfollow</button>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for post in user_posts %}
        <div class="card">
            <p class="card-header"> <strong><a href="{% url 'profile' post.user %}"> {{ post.user }} </a></strong> on {{ post.timestamp }} </p>
                <div class="card-body">
                    <p class="card-text"> {{ post.content }} </p>
                    {% with post.liked_posts.all as likes %}
                        <p class="likes card-text">Likes: {{ likes.count }}</p>
                    {% endwith %}

                    {% if post.is_liked %}
                        <button type="button" class="like-post-btn btn btn-primary">Unlike</button>
                    {% else %}
                        <button type="button" class="like-post-btn btn btn-primary">Like</button>
                    {% endif %}
                </div>
        </div>
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}
