.network-name {
  font-size: 40px;
}

.fa-twitter {
  font-size: 40px;
}

.bg-light {
  margin-bottom: 30px;
}

div.card {
  margin: 15px 5% 25px 5%;
}

textarea {
  padding-left: 10px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-top: 20px;
}

input.btn.btn-primary {
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.post-button,
div.save-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

#new-post {
  padding-left: 5%;
}

.following-posts,
.no-posts {
  text-align: center;
}

.profile {
  border-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.body-profile {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 400px;
}

.card-text-profile {
  margin-bottom: 5px;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-user {
  font-size: 35px;
  margin-right: 15px;
}
